<!-- Page Content -->
<header class="bg-info py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">               
                <img class="card-img-top" src="/assets/img-sistema/ifood-logo.png" height="164px" width="253px" alt="">
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Listagem de produtos</h1>
                <p class="lead mb-5 text-white">Criado com muita dedicação para a avaliação do Ifood.</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">                    
                <img class="card-img-top" src="/assets/img-sistema/banner-portal-reg-365x365.jpg" height="164px" width="253px" alt="">           
                <div class="card-body">
                    <h4 class="card-title">Quero</h4>
                    <p class="card-text">Agradecer pela oportunidade de estar participando do processo seletivo.</p>
                </div>               
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/img-sistema/banner-2-365x365.jpg" height="164px" width="253px" alt="">                
                <div class="card-body">
                    <h4 class="card-title">Muito</h4>
                    <p class="card-text">Será minha criatividade, inovação, qualidade, e satisfação com a empresa e seus clientes.</p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">                
                <img class="card-img-top" src="/assets/img-sistema/bag-ifood-365x365.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Trabalhar</h4>
                    <p class="card-text">De modo a consquistar e atingir limites, superando-os também de forma ágil.</p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/img-sistema/banner-captacao-365x365.jpg" height="164px" width="253px" alt=""> 
                
                <div class="card-body">
                    <h4 class="card-title">No Ifood</h4>
                    <p class="card-text">Quero construir minha carreira, agregando valores para empresa, clientes e parceiros.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->